<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Keywords</a></li>
        <li><a href="#">Sentiments</a></li>
        <li><a href="#">Entities</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Keywords</a></li>
        <li><a href="#section3">Sentiments</a></li>
        <li><a href="#section3">Entities</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4>Dashboard</h4>
        <p>ABC Insurance Company</p>
	  </div>
	  <form action="/dashboard" method="get" id="form1">
		Please enter Username: <input type="text" name="fname"><br>
		
	  </form>
	  
	  <button type="submit" form="form1" value="Submit">Submit</button>

	  <% if(response !=null && response !="") { %>
	  <% response.keywords.forEach(function(item){ %>
      <div class="row">
			
        <div class="col-sm-3">
          <div class="well">
            <h4>Keywords</h4>
            <p><%=item.text %></p> 
          </div>
		</div>
		<div class="col-sm-3">
				<div class="well">
				  <h4>Sentiments</h4>
				  <p><%=item.sentiment.score %></p> 
				  <p><%= item.sentiment.label %></p>
				</div>
			  </div>
			  <div class="col-sm-3">
					<div class="well">
					  <h4>Emotions</h4>
					  <p>sadness:- <%=item.emotion.sadness %></p> 
					  <p>joy:- <%= item.emotion.joy %></p> 
					  <p>fear:- <%= item.emotion.fear %></p> 
					  <p>disgust:- <%=item.emotion.disgust %></p> 
					  <p>anger:- <%=item.emotion.anger %></p> 
					</div>
				  </div>
	  </div>
	  <% });} %>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
				
				<% if(response !=null && response !="" && response.sentiment != null) { %>
					<h4>Sentiments</h4>
				<% response.sentiment.targets.forEach(function(item){ %>
			<p>Company Name :- <%= item.text%></p> 
			<p>score :- <%= item.score%></p>
			<p>label :- <%= item.label%></p>
			<% });} %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
				<% if(response !=null && response !="" && response.sentiment != null) { %>
            <p>Document score:- <%= response.sentiment.document.score%></p> 
			<p>label :- <%= response.sentiment.document.label%></p> 
			<% } %>
			 
          </div>
        </div>
       
      </div>
     
    </div>
  </div>
</div>

</body>
</html>


<script>
		var app = angular.module("app", []);
		app.controller("HttpGetController", function ($scope, $http) {
	
			$scope.SendData = function () {
				
			   // use $.param jQuery function to serialize data from JSON 
				var data =$scope.name;
				
				alert(data);
				var config = {
					headers : {
						'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
					}
				}
	
				$http.post('http://localhost:3000/dashboard', data,config)	.
					then(function onSuccess(response) {
						// Handle success
						alert("success"+response);
						var data = response.data;
						var status = response.status;
						var statusText = response.statusText;
						var headers = response.headers;
						var config = response.config;
						
					}, function onError(response) {
						// Handle error
						alert("error"+response);
						var data = response.data;
						var status = response.status;
						var statusText = response.statusText;
						var headers = response.headers;
						var config = response.config;
						
					});
				alert("end");
			};
	
		});
	</script>